<p>
  inventory works!
</p>
<form #inventoryForm="ngForm" (ngSubmit)="submit(inventoryForm.form)">
  <div class="form-group">
    <label for="inventoryname">Inventory Name</label>
    <input type="text" class="form-control" id="inventoryName" name="inventoryName" [ngModel]="''" required>
  </div>
  <div class="form-group">
    <label for="productName">Product Name:</label>
    <input type="text" class="form-control" id="productName">
  </div>
  <div class="form-group">
    <label for="quantity">Quantity :</label>
    <input type="number" class="form-control" name="quantity" id="quantity" [ngModel]="123">
  </div>
  <div class="form-group">
    <input type="submit" class="form-control" value="Submit"
           [disabled]="inventoryForm.invalid">
  </div>
</form>