<div class="container">
  <h2>Create a new inventory </h2>
<form #inventoryForm="ngForm" (ngSubmit)="submit(inventoryForm.form)">
  
  <div class="form-group">
    <label for="productName">Product Name:</label>
    <input type="text" class="form-control" name="productName" id="productName" [ngModel]="''" required>
  </div>
  <div class="form-group">
    <label for="locationName">Location Name</label>
    <input type="text" class="form-control" id="locationName" name="locationName" [ngModel]="''" required>
  </div>
  <div class="form-group">
    <label for="quantity">Quantity :</label>
    <input type="number" class="form-control" name="quantity" id="quantity" [ngModel]="1" required>
  </div>
  <div class="form-group">
    <input type="submit" class="form-control" value="Submit"
           [disabled]="inventoryForm.invalid">
  </div>
   <pre>{{inventoryForm.value | json}}</pre>
</form>
</div>